* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

/* VARIABLES
 - White: hsl(0, 0%, 100%)
- Light gray: 
- Grayish blue: hsl(220, 15%, 55%)
- Dark blue: hsl(218, 44%, 22%) */
html {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}

.qrContainer {
    background-color: hsl(0, 0%, 100%);
    padding: 1rem;
    border-radius: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 360px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.qrContainer img {
    width: 320px;
    height: auto;
    border-radius: 2%;
}

.mainHero {
    font-size: 1.2rem;
    font-weight: 800;
    color: #08003a;
    padding: 1rem 0 1rem 0;
}

.smallText {
    font-weight: 100;
    color: gray;
    padding-bottom: 2rem;
}

.attribution {
    font-size: 11px;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding-bottom: 1rem;
}

.attribution a{
    color: hsl(228, 45%, 44%);
}